.background-theme-svg {
    color: '#ffffff'
}

.hacker-color{
    color: #20C20E;
}

.skill-name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.courier-font{
    font-family: 'Courier New', Courier, monospace;
}

.full-screen{
    height: 100vh;
}

.skill:hover{

}

.skill-img{
    height: 100px;
    width: 100px;
}